.previousOrders {
    padding-left: 130px;
    padding-top: 40px;
    width: 325px;
}

.previousOrders h1 {
    font-size: 24px;
    color: rgba(0, 0, 0, .87);
    width: 325px;
}
.previousOrders h2 {
    color: rgba(0, 0, 0, .87);
    width: 314px;
    font-size: 24px;
    letter-spacing: 1px;
}
.previousOrders p {
    color: #6B6B6B;
    width: 314px;
    font-size: 19px;
    line-height: 1.5;
    padding: 20px 0;
}
.previousOrdersImg {
    width: 225px;
}
.previousOrdersImg img {
    width: 100%;
}
.previosOrdersBtns {
    width: 314px;
}
.previosOrdersBtns button {
    font-size: 16.5px;
    margin-right: 20px;
}