.menuItems{
    padding-top: 20px;
    margin-left: 130px;
    width: 150px;
}
.menuItems ul span{
    font-size: 18px;
    font-weight: 600;
}
.menuItems ul li{
    padding: 10px 0;
}
.menuItems ul li a{
    color: rgba(0,0,0,.58);
    font-size: 15px;
}
@media (max-width: 768px) {
    .menuItems {
       display: none;
    }
    .allCategory{
        margin: 20px;
    }
}