section {
    display: flex;
    padding-top: 30px;
}
img {
    width: 100%;
}

.section {
    background-color: #ffc519;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.section h2 {
    color: #1e3932;
    font-size: 3rem;
    letter-spacing: 3px;
    padding: 20px 0;
}

.section p {
    color: #1e3932;
    font-size: 24px;
    text-align: center;
    width: 70%;
    line-height: 1.5;
    padding: 15px 0;
}
.section a{
    padding: 20px 0;
}
.section button {
    display: inline-block;
    color: #1e3932;
    border: 1px solid #1e3932;
    border-radius: 50px;
    margin-top: 25px;
    padding: 7px 16px;
    font-size: 15px;
    line-height: 1.2;
    transition: all .2s ease;
}

.section button:hover {
    background-color: rgba(0, 0, 0, .1);
}
.section2,.section3{
    background-color: #fff4d4;
}

@media only screen and (max-width: 992px) {
section{
    flex-direction: column !important;
}
section:nth-child(3){
    flex-direction: column-reverse;
}
.section{
    width: 100%;
}
.section h2{
    font-size: 2rem;
}
.section p{
    font-size: 1.5rem;
}
}
@media only screen and (max-width: 768px) {
section{
    flex-direction: column;
}
.section h2{
    font-size: 1.5rem;
}
.section p{
    font-size: 1rem;
}
}