.featured {
    padding: 20px 0 20px 130px;
}
.featured h1{
    font-weight: 600;
    font-size: 20px;
    padding: 30px 0;
}
.featured h2{
    color: rgba(0,0,0,.58);
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 0;
}
.featuredCards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 20px;
}

.featured .card {
    width: 23%;
}

.featured img {
    border-radius: 10px;
    transition: 0.2s;
}

.featured img:hover {
    transform: translate(0%, -5%);
}