* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'SoDo Sans';
}
#root{
  overflow-x: hidden;
}
.container {
  width: 95%;
  margin: auto;
}

.d-flex {
  display: flex !important;
}

.ac {
  align-items: center;
}

.jc {
  justify-content: center;
}
.jb{
  justify-content: space-between;
}