.feautured strong {
    padding: 48px 0;
}



.feautured strong {
    display: flex;
    justify-content: center;
    color: #1e3932;
    font-size: 50px;
    letter-spacing: 2px;
}
.feautured .d-flex {
 flex-wrap: wrap;
 justify-content: space-between;
}
.feauturedProduct {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 49%;
    margin-bottom: 25px;
}

.feauturedProduct span {
    color: #1e3932;
    font-weight: 600;
    font-size: 19px;
    padding: 20px 0;
}

.productContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.productContent p {
    color: #1e3932;
    font-size: 19px;
    text-align: center;
    width: 70%;
    line-height: 1.5;
    padding: 15px 0;
}

.productContent button {
    display: inline-block;
    color: #1e3932;
    border: 1px solid #1e3932;
    border-radius: 50px;
    margin: 25px;
    padding: 7px 16px;
    font-size: 15px;
    line-height: 1.2;
    transition: all .2s ease;
}

.productContent button:hover {
    background-color: rgba(0, 0, 0, .1);
}
.feautured .text{
    display: flex;
    justify-content: center;
    padding-top: 60px;
    line-height: 1.8;
}
@media (max-width: 992px) {
  .feautured strong{
    font-size: 30px;
  }
}
@media (max-width: 768px) {
    .feautured strong{
      font-size: 30px;
    }
   .feauturedProduct{
    width: 100%;
   }
  }